@import '../fonts/ethnocentric-stylesheet.css';
@import '../fonts/slicker-stylesheet.css';

$body-family: 'Slicker';
$family-primary: 'EthnocentricRg-Regular';
$primary: #990000;
$grey: #4d4d4d;
$navbar-item-color: $grey;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;

@import '~bulma';

.navbar-end .navbar-item:hover {
  border-bottom: 2px solid $primary;
}

@media (max-width: 900px) {
  .navbar-brand {
    background: $white;
  }
}

.navbar-brand.is-active {
  background: $white;
}

.is-primary-font {
  font-family: $family-primary;
}

ol,
ul,
p {
  margin-bottom: 10px;
}

ol,
ul {
  padding-left: 25px;
}

ul {
  list-style: disc;
}

img.is-rounded {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
