@import '../fonts/ethnocentric-stylesheet.css';
@import '../fonts/slicker-stylesheet.css';

$body-family: 'Slicker';
$family-primary: 'EthnocentricRg-Regular';
$primary: #990000;
$grey: #4d4d4d;
$navbar-item-color: $grey;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: transparent;

@import '~bulma';

.navbar-end .navbar-item:hover {
  border-bottom: 2px solid $primary;
}

.navbar-brand.is-active {
  background: $white;
}

.is-primary-font {
  font-family: $family-primary;
}

ol {
  padding-left: 25px;
}
